@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

body{
    font-family: 'EB Garamond', serif; 
    font-weight: 400;  
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left,red ,orange ,yellow );
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    position: relative;
    width : 100rem;
    height: 60rem;
    background-color: rgba(255,255,255,0.35);
    display:flex;
    border: radius 9ps;
    overflow: hidden;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0,25);
}
